<div id="screen">
  <div id="headingNSearchbar">
    <img id="logo" alt="RepositoryLister Logo" ngSrc="./assets/repositoryLister.png" height="415" width="415" priority>
    <h1>RepositoryLister</h1>
    <div id="searchbar">
      <input type="text" [(ngModel)]="username">
      <button (click)="buttonClick()">
        <span class="material-symbols-sharp" id="searchbarIcon">search</span>
      </button>
    </div>
  </div>
  <div id="repositoryList">
    <div *ngFor="let repository of repositories">
      <div id="repository">
        <h2>{{ repository.repositoryName }}</h2>
        <p>User: {{ repository.userLogin }}</p>
        <div *ngFor="let branch of repository.branches">
          <p>Branch: {{ branch.branchName }}</p>
          <p>Commit SHA: {{ branch.commitSHA }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
