<div id="screen">
  <div id="headingNSearchbar">
    <img alt="RepositoryLister Logo" ngSrc="./assets/repositoryLister.png" fill>
    <h1>RepositoryLister</h1>
    <div id="searchbar">
      <input >
      <a href="#">
        <span class="material-symbols-sharp" id="searchbarIcon">search</span>
      </a>
    </div>
  </div>
</div>



<!--
TODO:

1. searching for users should work
2. footer implementation
3. styling
4. add a spinner for loading
5. maybe add a logo?
6. pagination if there are more than X repositories


TODO:
spring security should be set and application.properties file secured
-->
